<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Node School</title>
</head>
<body>
	<form method="post">
		<input type="text" name="text">
		<button type="submit">Submit</button>
	</form>
</body>
</html>