<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Node School</title>
</head>
<body>
	<a href="/create">Add</a>
	
	<ul>
	  <% data.forEach(function(d){ %>
		<li> <%= d %> </li>
	  <% }); %>
	</ul>
	
</body>
</html>